@page
@model H2School_ToDoApp.Pages.EditModel
@{
    ViewData["Title"] = "Edit page";
}

<h2>You are editing:</h2>

<h4>@Html.DisplayFor(model => model.ToDo.Title)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ToDo.Id" />
            <div class="form-group">
                <label asp-for="ToDo.Title" class="control-label"></label>
                <input asp-for="ToDo.Title" class="form-control" />
                <span asp-validation-for="ToDo.Title" class="text-danger"></span>
                
                <label asp-for="ToDo.Description" class="control-label"></label>
                <input asp-for="ToDo.Description" class="form-control" />
                <span asp-validation-for="ToDo.Description" class="text-danger"></span>
                
                <label asp-for="ToDo.DeadLine" class="control-label"></label>
                <input asp-for="ToDo.DeadLine" class="form-control" />
                <span asp-validation-for="ToDo.DeadLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./ToDo">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
